
<script>


  function updateRecords() {
      link = "/home/ajax_lab_reception_list?location=" + '<%= params[:location].titleize rescue "unknown" %>';
      getData(link);
  }
  function handleResults(data){
    if (data.length > -1)
    {
        reloadTable('dataSection',data,[['name', 25, 'left'],['department', 40, 'left'],['priority', 6.5, 'center'], ['action', '', 'left']], "tableContainer")
    }
  }
  function updateStats(){
      link = "/home/ajax_lab_reception_stats";
      getStats(link);

  }

  function displayResults(statistics)
  {
          document.getElementById('ordered').innerHTML =  statistics["Drawn"];
          document.getElementById('received').innerHTML =  statistics["Received At Reception"]
          document.getElementById('inprogress').innerHTML =  statistics["Testing"]
          document.getElementById('verification').innerHTML =  statistics["Tested"]
          document.getElementById('pending').innerHTML =  statistics["Received In Department"]
         // document.getElementById('turn-around').innerHTML =  statistics["avg_tat_in_min"] + " mins"
      if (parseInt(statistics["Tested"]) > 0)
      {
          document.getElementById('verification_section').setAttribute("class", "notifier-present");
      }
      else
      {
          document.getElementById('verification_section').setAttribute("class", "notifier");
      }
  }

  setTimeout("updateRecords()", 2000)
  setInterval("updateStats()", 60000)

</script>

<div class="container" style="height: 99%;">
  <div class="table-row">
    <div class="col" style="height:100%;width: 14%;">
      <div class="value-container">
        <b>Ordered</b> <br>
        <span class="indicator" id="ordered"><%= @ordered %></span>
      </div>
      <div class="value-container">
        <b>Received</b> <br>
        <span class="indicator" id="received"><%= @received %></span>
      </div>
      <div class="value-container">
        <b>Pending</b> <br>
        <span class="indicator" id="pending"><%= @pending %></span>
      </div>
      <div class="value-container">
       <b>In Progress</b><br>
        <span class="indicator" id="inprogress"><%= @testing %></span>
      </div>
      <!--
      <div class="value-container">
        <b>TA Time</b><br>
        <span class="indicator" id="turn-around"><%#= @turn_around %></span>
      </div>!-->
    </div>
    <div class="col" id="tableContainer">
        <div style="display: table;width: 99%;margin-left: auto;margin-right: auto;">
          <div style="display: table-header-group" id="heading">
            <div class="table-header-cell" style="width: 25%">
              Patient
            </div>
            <div class="table-header-cell" style="width: 40%">
              Test Department(s)
            </div>
            <div class="table-header-cell" style="width: 5%">
              Priority
            </div>
            <div class="table-header-cell">
              Viability
            </div>
          </div>
        </div>
        <div id="main_container" >
          <div style="display: table;width: 100%;width: 99%;margin-left: auto;margin-right: auto;">
            <div id="dataSection" style="display: table;width: 100%;">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div id="summary" class="summary">
  <div style="margin-left: 25%;float: left;">Showing <b><span id="displayNum">0</span> / <span id="displayTotal">0</span></b></div>
  <div style="margin-right: 0.5%;float: right;" id="verification_section">Results Pending Verification: <span style="font-weight:bold " id="verification"><%= @tested %></span> </div>
</div>